@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #222222;
  --muted: #f1f1f1;
  --highlight: #999999;

  /* Primitives */
  --primitives-neutrals-off-white: #f9f9f9;
  --primitives-neutrals-off-black: #222222;
  --primitives-neutrals-shade: #f1f1f1;
  --primitives-neutrals-dark-shade: #e2e2e2;
  --primitives-brand-dark-grey: #444444;
  --primitives-brand-grey: #666666;

  /* Forms */
  --forms-background: #f9f9f9;
  --forms-border: #e2e2e2;

  /* Spacing */
  --primitives-3xs: 4px;
  --primitives-2xs: 8px;
  --primitives-xs: 12px;
  --primitives-sm: 16px;
  --primitives-md: 24px;
  --primitives-lg: 32px;
  --primitives-xl: 40px;
  --primitives-2xl: 48px;
  --primitives-3xl: 80px;
  --primitives-4xl: 160px;

  /* Radius */
  --button-radius: 999px;
  --input-radius: 8px;
  --box-radius-xs: 4px;
  --box-radius-md: 12px;
  --primitives-full: 999px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
